/* Write your CSS here */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  text-align: center;
  border-radius: 12px;
  padding: 20px;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.light-mode {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.heading {
  font-family: 'Roboto';
  font-size: 25px;
}
.button {
  font-size: 13px;
  border: none;
  padding: 12px;
  border-radius: 12px;
}
